#sidebar {
  width: 260px;
  background-color: #eee;
  border-right: 1px solid #d4d4d4;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

#sidebar_items {
  position: fixed;
  top: 2.5em;
  left: 0;
  bottom: 0;
  width: 250px;
  padding: 5px;
  overflow: auto;
  overflow-y: scroll;
}

#sidebar_items::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

#sidebar_items::-webkit-scrollbar-track {
  margin: 2px;
  border-radius: 5px;
  background-color: #d4d4d4;
}

#sidebar_items::-webkit-scrollbar-thumb {
  margin: 2px;
  border-radius: 5px;
  background-color: #a2a2a2;
}

#sidebar .search {
  position: fixed;
  top: 0.5em;
  left: 8px;
  width: 232px;
}

#sidebar_items.hide-scrollbar::-webkit-scrollbar-track,
#sidebar_items.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}

#sidebar_items ul {
  margin: 0;
  padding: 6px;
  list-style-type: none;
}

#sidebar_items li {
  padding: 3px;
  margin: 1px;
}

#sidebar_items li.separator {
  border-top: 1px solid #ccc;
}

#sidebar_items li.item {
  padding: 3px;
  margin-left: 6px;
  transition: background-color 300ms ease;
  cursor: pointer;
  color: #268BD2;

  transition: border-color 300ms ease;
  border: 1px solid transparent;
}

#sidebar_items li.item span.label {
  transition: padding-left 200ms ease-out;
}

#sidebar_items li.item:hover,
#sidebar_items li.item.selected {
  background-color: #f5f5f5;
}

#sidebar_items li.item.selected {
  border: 1px solid #b0ddfd;
}

#sidebar_items li.item:hover span.label,
#sidebar_items li.item.selected span.label {
  padding-left: 6px;
}

#sidebar_items li.header {
  font-weight: bold;
  text-align: center;
  color: #586E75;
  text-shadow: 1px 1px #f5f5f5;
  margin-top: 6px;
}

.refresh,
.delete {
  float: right;
  margin-bottom: 0px;
  margin-top: 2px;
  display: none;
  width: 16px;
  height: 16px;
}

.refresh {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAQCAYAAAB3AH1ZAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAfdEVYdFRpdGxlAEdub21lIFN5bWJvbGljIEljb24gVGhlbWWOpCmrAAACMUlEQVRIicWVT2sTQRiHn3eSLUSk5NBLRPBDpFChFwmUuBAopUR6KETsOdivEELPJnoqPXhsIAd72LhsIblVBWk+gVAqghcpMYeEdJOOh83WZv8ErUJ/l2GZ95nfO+++MyNaa+5S6haM/IuhBPjkzY9ms7mQSqW2gC3gCfAT+CIi+4PB4LBYLE5ardaB1nqnUCiEEpEKC6QJ8cA+DzjURSbUORDY0S+9RMT/BbZtL04mk3dALib5UxFZ01pfAAQTkDcscsVcngXWuOQCwE9AAVQqFTUej9tT+BzYdl13SSmVAV4AZ0BWa/0+amWpoLjC4zXnaLZJsoRBBvnNc0mITwJks9l1YBk4MwxjNZ/Pf78R89ayrGPgE/A4cm9pNn0eWNW7zPDyimNUNO83YXk6VgPmtFqtI+Ab8DDS3NOuVwqqAXOkxhEqnvcTeASglLKDAVrr9TnGvrzFk4R4hLm8fwruA4xGIzcYENXtEboHgCbE+80WJ78CpwCGYTz9A7MofQbA5a95P4HGdNxzHCcTDHIcJ2NZVseyrLhr85qXGiFeamSkTkfqhPgkwHA4bKRSqRKQc133xLKsqlLKHo1G7rQqe3h98jHSvkeDNCWEHHAir6mSxEbjTqsSy89cROPxuC0iyzG77CQSiQ3TNPtRk9OLqI13HCN5FBu6zAx//RaYptnvdrsrIvIM+AB8BX4Ajog8Hw6HZpw5gC7Tp8cKEORtoEQPM2g+U4G70m1ew/+qX1BO0pGrJLtnAAAAAElFTkSuQmCC');

}

.delete {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAQCAYAAAB3AH1ZAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAfdEVYdFRpdGxlAEdub21lIFN5bWJvbGljIEljb24gVGhlbWWOpCmrAAACJUlEQVRIic2VQUsbURDHf7Nso4tfQgpCbkohJYgiUcjFt8EevIvgyaoN9GMUtFVPXnoPSHDXHHKJpUGCgUIRQRD6BUqPZSHgTg/uhs2yG/XSdk6zs+837z/v7cyKqvIvzU4H2u321GAw2AZeA6+i8DfgqlAoHFer1d/jEsoHpiiwjaZ44YoBx/qeEV6SJ3B+fr6oqp+Blzn5f4jIxurq6tfMzfdZxGIsT8iG1hnyQwG+7y8AXwBrXIVACCwZY7ojm39iAX0iLyzpLt2hgEaj4TiO8x2YeQSO7S4Igtn19fUAQPZxsHgWT8is1gksAMdxtpKwMUaAReAn8AuoRLHYZiLmwSxGeN1DkASvVHSPET5ihsc1n5TneV7JGNO1LGslDMNlY8xFq9WaS1Uxn+MjHynpLl1CVoBlfceFHJDJx11QGkkgcnp2dlap1WrXAM1mc9q27WYqQSnHBziVfSpa5xpADpgGMvm8D+aFiEzED7ZtTwITOWsz+ZH1NpNINh8L6CeDqrrmuu6N7/tF3/eLxphbVX2TYvs5PlisaZ0bOaIoRxT1LbdYZPKxgMvkG9d1e57nlYEO0PE8r+y6bi+V4DLHR3foySFl7ulwT0cOKesOmfz/0YZRok0ehsxjFgKb8eYAWidAnsELm1ongMRHGE22JeBurPKMKQigu3SRJ/CJKQipfwEQX8cWD30at1cfuAyC4CRZeZZF15HJE3ISV54r4G/bHwJj6EnoFhU4AAAAAElFTkSuQmCC');
}

#sidebar_items li.item:hover .refresh,
#sidebar_items li.item:hover .delete {
  display: inline-block;
}

#sidebar_items li.item:hover .refresh.loaded:hover,
#sidebar_items li.item:hover .delete:hover {
  background-position: 100% 0;
}

#sidebar_items .refresh.spinner {
  display: inline-block;
}

#sidebar_items .spinner {
  margin: 0 auto;
}

/* vi:ts=2:et */
